


.div-header-menu{
	max-width:1440px;
    min-width: 1024px;
	padding: 0px;
	
}
.nav-menu{
	display: flex;
    margin-right: 80px;
    margin-left: 80px;
    -webkit-box-pack: center;
    justify-content: center;
}

.div-center-menu{
	display: flex;
    margin-right: 80px;
    margin-left: 80px;
    -webkit-box-pack: center;
    justify-content: center;
}

.div-down-menu{
	display: flex;
    margin-right: 80px;
    margin-left: 80px;
    -webkit-box-pack: center;
    justify-content: center;
}

.c-nav-link{
	transition: color .2s;
	color: #112E66;
    font-size: 18px;
    font-weight: 400;
	width: 150px;
	height: 60px;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    padding: 10px;
    margin-left: auto;
    margin-right: auto
}

//Center content menu bar
.div-center-menu{
	max-width:auto;
	padding: 0px;
	
}
.c-center-link{
	color: #FFFFFF;
	width: 170px;
    font-size: 14px;
}

.c-nav-link:hover {
	text-decoration: none;
	border-bottom: 5px solid #FFB800;
}

.nav-center-menu {
	display: flex;
    margin-right: 80px;
    margin-left: 80px;
    -webkit-box-pack: center;
    justify-content: center;
}



.center-content{
	background:#001a4d;
	opacity: 0.9;
}

.div-center-title{
	text-align: center;
	padding-top: 200px;
	color: #FFFFFF;
	letter-spacing: -1px;
	font-style: normal;
	font-size:56px;
	width: 500px;
}

.div-center-content{
	padding-top: 30px;
	color: #FFFFFF;
	width: 580px;
	font-size:18px;
}

.div-lower-menu{
	padding-top: 30px;
}
